// Default website theme colors
$primary-background: #061113;
$secondary-background: #121C1E;
$accent-primary: #133D49;
$accent-secondary: #8BCADA;
$text: #f1f1f1;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: 'Segoe UI', Arial, sans-serif;
}

html {
	height: 100%;
	font-size: 24px;
	overflow-y: hidden;

	body {
		background-color: $primary-background;
		color: $text;
	}
}



main {
	display: grid;
	grid-template-columns: 350px 4fr;
}



// Menu navigation bar thing
nav {
	padding: 25px;
	width: 350px;
	height: 100vh;
	text-align: center;
	background-color: $secondary-background;
	display: flex;
	flex-direction: column;

	// Top logo section
	.top {
		font-size: 35px;
	}

	// Middle buttons section
	.middle button {
		width: 100%;
		margin: 5px 0px;
	}

	// Bottom section
	.bottom {
		// TODO: Don't use margin
		margin-top: auto;
	}
}

// Main content
.main {
	padding: 25px;
	
	background-image: url("../assets/img/topography.svg");
	background-color: $primary-background;

	// Make everything scroll
	height: 100vh;
	overflow-y: scroll;

	display: grid;
	place-items: center;
}





// Content block thing
.container {
	background-color: $secondary-background;

	width: 60%;
	padding: 25px;
	margin-bottom: 25px;
	border-radius: 10px;
}

.posts {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


// Post
.post {

	// TODO: Rename to content-file and content-text then use &-text, &-content
	.title-content, .text-content, .file-content {
		padding-bottom: 15px;
	}

	.title-content {
		h1 { font-size: 2rem; }
		h2 {
			font-size: 0.5rem;
			color: gray;
			text-transform: uppercase;
		}
	}

	.file-content
	{
		text-align: center;

		img {
			// TODO: Don't use vw and vh
			max-width: 100%;
			min-width: 20vw;
			max-height: 50vh;

			padding: 10px;
			border-radius: 20px;
		}
	}

	.footer {
		padding-top: 5px;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.create-post {

	input, textarea {
		background-color: $accent-primary;
		color: white;

		border: none;
		padding: 10px;
		border-radius: 10px;
		width: 100%;
		margin-bottom: 12px;
	}

	#title {
		font-size: 2rem;
		font-weight: bold;
	}

	#textContent {
		position: relative;

		font-size: 1rem;
		resize: vertical;
		overflow: hidden;
		
		min-height: 200px;
		max-height: 50vh;
	}
}






// Cloak logo text
.logo {
	// TODO: Maybe use image instead of text
	font-family: 'Reem Kufi', sans-serif;
}

// Generic button
button {
	background-color: $accent-primary;
	color: $text;
	padding: 10px 15px;

	font-family: 'Reem Kufi', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;

	border: none;
	border-radius: 3px;

	// Hover effect
	&:hover {
		cursor: pointer;
		background-color: darken($accent-primary, 2);
	}
}


// Separator line thing
hr {
	background-color: $accent-secondary;
	height: 2px;
	border: none;
	margin: 6px 0px;
}