// Colors
$primary-background: #061113;
$secondary-background: #121C1E;
$secondary: #133D49;
$text: #f1f1f1;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;

	body{
		height: 100vh;
		background-color: $primary-background;
	}
}

// Headings
h1, h2, h3, h4, h5, h6, button, a {
	font-family: 'Reem Kufi Fun', sans-serif;
	color: $text;
}

// General text
p, input {
	font-family: 'Segoe UI', sans-serif;
	font-weight: 500;
	color: $text;
}

// Standard button
button {
	background-color: $secondary;
	padding: 12px 30px;
	font-size: 1rem;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;

	// When the button is hovered over
	&:hover {
		background-color: darken($secondary, 2%);
		color: lighten($text, 10%);
		cursor: pointer;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	}
}


// Modal
.modal-wrapper {
	// display: none;
	visibility: visible;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-color: rgba(99, 92, 126, 0.1);
	backdrop-filter: blur(2px);

	display: flex;
	justify-content: center;
	align-items: center;


	.modal {
		position: relative;
		width: 50%;
		height: 50%;

		box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.1);

		.controls {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			list-style-type: none;
			text-align: right;

			//TODO: Don't put this in here
			padding: 10px;

			// background-color: $primary-background;

			li { display: inline-block; }
		}
	}

	&.visible { visibility: visible; }
}




.content-box {
	background-color: $secondary-background;
	border-radius: 10px;
	padding: 10px;
}